@import 'var';
@import 'functions';

.container {
    background: white;
    .title-container {
        background: $primary-extra-bold;
    }
    @media screen and (max-width: 768px) {
        padding-top: 15px;
        margin-right: 0px;
        .title-container {
            .title {
                padding: 75px 0 25px;
                font-size: 18px;
                color: #FFFFFF;
                font-weight: 600;
                text-align: center;
            }
        }
        .content {
            padding: rem-calc(25px) 0px rem-calc(50px);
            background: #FFFFFF;
            min-height: 80vh;
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: $header-height;
        .title-container {
            .title {
                padding: 75px 0px;
                font-size: 36px;
                color: #FFFFFF;
                font-weight: 600;
                text-align: center;
            }
        }
        .content {
            padding: rem-calc(25px) 0px rem-calc(50px);
            background: #FFFFFF;
            min-height: 80vh;
        }
    }
}
