@import 'var';

.container {
  // justifyContent: 'center', display: 'flex', flexDirection: 'column', alignItems: 'center'
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    border-bottom: 0.5px solid $primary-extra-bold;
    button {
      background: #8c1828;
      height: 30px;
      font-size: 12px;
    }
    span:first-child {
      color: $primary-extra-bold;
      font-weight: 600;
    }
    
    .success {
      color: $ce-green-semi-bold;
    }
    .danger {
      color: $ce-red-semi-bold;
    }
    .warning {
      color: $ce-yellow-semi-bold;
    }
    
  }
}