@import 'responsive';
@import 'var';

.container {
  .card {
    width: 100%;
    .order-timeout {
      width: 100%;
      margin: 10px 0px 20px 0px;
      text-align: center;
      .text {
      }
    }
    .loading-icon {
      text-align: center;
      margin: 10px;
    }
    .infos {
      margin: 0px 0px 20px 0px;
      .can-not-get-bank-info {
        display: block;
        text-align: center;
        margin: 10px 0px;
        color: green;
        width: 100%;
        text-transform: uppercase;
        .get-btn {
          font-weight: bold;
          color: orange;
          margin: 0px 10px;
        }
      }
      .copy-icon {
        margin: 0px 15px;
        cursor: pointer;
      }
      .info-title {
        font-weight: bold;
      }
      .info-value {
        font-weight: 400;
        border-bottom: dashed 1px green;
        cursor: pointer;
      }
      .info-item {
        margin: 5px 0px;
        @include respond(sm) {
          text-align: center;
          margin: 10px 0px;
        }
      }
    }
    .note {
      display: flex;
      flex-direction: column;
      .note-title {
        text-transform: uppercase;
        font-weight: bold;
        color: red;
      }
      .note-content {
        padding: 5px 15px;
        font-style: italic;
      }
    }
  }
  .upload-container {
    margin: 20px 0px;
    width: 100%;
    :global(.dropzone) {
      width: 100%;
    }
    .upload-btn {
      width: 100%;
    }
    .done-btn {
      width: 100%;
      background-color: $ce-green-medium;
    }
    .upload-icon {
      margin: 0px 5px;
    }
  }
}