@import 'var';
@import 'responsive';

.container {
  padding-bottom: 70px;
  @include respond(xs) {
    padding-top: $header-height;
    background: linear-gradient(to bottom, $primary-extra-bold 0%,$primary-extra-bold 250px,#000000 250px,#F8F8F8 250px,#F8F8F8 100%);
  }
  > div:global(.row > div) {
    @include respond(lg) {
      margin: 10px 0px;
    }
  }
  .intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0px;
    padding: 0px 30px;
    @include respond(xs) {
      margin: 30px 0px 10px 0px;
    }
    h1 {
      @include respond(sm) {
        font-size: 30px;
      }
      font-size: 36px;
      color: white;
      text-align: center;
      font-weight: 600;
    }
    h3 {
      font-size: 20px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
    .icon {
      margin: 10px;
      font-size: 24px;
      color: #49EDF2;
      text-align: center;
      position: relative;
      bottom: -2px;
    }
  }
  .panel {
    background-color: #ffffff;
    width: inherit;
    box-shadow: 0 5px 29px -7px #000000;
    border-radius: 6px;
    height: 100%;
  }
  .main {
    padding: 30px;
    background: $white;;
    box-shadow: 0 5px 29px -7px #000000;
    border-radius: 6px;
    .header {
      height: $btn-height-medium;
      display: flex;
      justify-content: space-around;
      border-radius: 6px 6px 6px 6px;
      align-items: center;
      overflow: hidden;
      .tab-title {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        color: $black-light;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.5px;
        width: 100%;
        background-color: #F1F0F5;
        &.header-active-buy {
          color: $white;
          background-color: $ce-green;
        }
        &.header-active-sell {
          color: $white;
          background-color: $ce-red;
        }
      }
    }
    .content {
      min-height: 300px;
      margin: 20px 0px;
      .tab-content {
        height: 100%;
        transition: opacity 0.3s;
        &.active {
          opacity: 1;
          display: block;
        }
        &.hidden {
          opacity: 0;
          display: none;
        }
      }
    }
  }

}
