/**
 * SearchBar Component.
*/
@import 'src/assets/styles/style.scss';

.change-language-container {
  //position: absolute;
  //right: 0px;
  color: white;
  padding: 10px;
  cursor: pointer;
  .country-name {
    font-size: rem-calc(14px);
    font-weight: bold;
  }
}
.change-language {
  border: none !important;
  button {
    color: white !important;
  }
}
