/**
 * SearchBar Component.
*/
@import 'src/assets/styles/style.scss';

.change-language-container {
  //position: absolute;
  //right: 0px;
  color: white;
  cursor: pointer;
  .country-name {
    font-size: rem-calc(14px);
    font-weight: bold;
  }
  .change-language {
    padding: 0px;
    width: 110px;
    @include respond(sm) {
      width: inherit;
    }
    border: none !important;
    button {
      color: white;
    }
  }
  
}
