@import 'var';

.button {
  min-width: 125px;
  width: 100%;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  background: $primary-extra-bold;
  border: 1px solid #E7E6EB;
  padding: 10px 34px;
}
.input {
  width: 100%;
  font-size: 14px;
  color: #0D0031;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid #E7E6EB;
}
.fullWidth {
  width: 100%;
}