.container {
  padding: 0px;
  .item {
    margin: 5px 0px;
    display: flex;
    align-items: center;
    :global(.checkbox-warper) {
      margin-bottom: 0px;
      margin-right: 10px;

      > span {
        padding-left: 20px;
      }
    }
  }
}
