@import 'var';
@import 'functions';

.container {
  @media screen and (max-width: 768px) {
    padding-top: 15px;
    .title {
      padding: 75px rem-calc(21px) 25px;
      background: $primary-semi-bold;
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 600;
    }
    .content {
      padding: 0px 0px;
      background: #FFFFFF;
      min-height: 80vh;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: $header-height;
    .title {
      padding: 75px 190px;
      background: $primary-semi-bold;
      font-size: 36px;
      color: #FFFFFF;
      font-weight: 600;
    }
    .content {
      padding: 0px 190px;
      background: #FFFFFF;
      min-height: 80vh;
    }
  }
}
