@import 'src/assets/styles/_var.scss';

.container {
  padding-top: $header-height;
  .header {
    color: white;
    letter-spacing: 0;
    line-height: 29px;
    font-weight: $semi-bold;
    text-align: center;
  }

  .content {
    background: white;
    .referralBox {
      padding: 20px 10px;
    }

    .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 59px;
      padding: 20px 10px;

      .title {
        font-weight: bold;
        font-size: 25px;
      }

      .button {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        padding: 0 50px;
        margin-top: 25px;
      }
      .active {
        background: $primary-extra-bold;
        font-weight: 600;
        letter-spacing: 0.22px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      font-size: 18px;
      margin-top: 25px;
    }

    .banner-container {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .header {
      font-size: 36px;
      margin-top: 39px;
    }

    .banner-container {
      display: flex;
      margin-top: 50px;
      position: absolute;
      justify-content: space-evenly;
    }

    .content {
      margin-top: 228px;
      padding: 200px 182px 60px;
    }
  }
}
