@import 'src/assets/styles/_var.scss';

.container {
  padding-top: $header-height;
  .header {
    color: white;
    letter-spacing: 0;
    line-height: 29px;
    font-weight: $semi-bold;
    text-align: center;
  }
  .banner-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .content {
    background: white;
    .referralBox {
      padding: 20px 10px;
    }

    .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 59px;
      padding: 20px 10px;

      .title {
        font-weight: bold;
        font-size: 25px;
      }

      .button {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        padding: 0 50px;
        margin-top: 25px;
      }
      .active {
        background: $primary-extra-bold;
        font-weight: 600;
        letter-spacing: 0.22px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      font-size: 18px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .banner-container {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .header {
      font-size: 36px;
      margin-top: 39px;
      margin-bottom: 50px;
    }

    .banner-container {
      display: flex;
      //position: absolute;
      justify-content: space-evenly;
    }

    .content {
      //margin-top: 228px;
      padding: 25px 182px 60px;
    }
  }

  //@media screen and  (min-width: 1200px) {
  //  .banner-container {
  //    max-width: 1140px;
  //  }
  //}
  //
  //@media screen and  (min-width: 992px) {
  //  .banner-container {
  //    max-width: 960px;
  //  }
  //}
  //@media screen and  (min-width: 768px) {
  //  .banner-container {
  //    max-width: 720px;
  //  }
  //}
  //@media screen and  (min-width: 576px) {
  //  .banner-container {
  //    max-width: 540px;
  //  }
  //}
}
