<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.env.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- SEO -->
  <meta name="description" content="<%= htmlWebpackPlugin.options.env.description %>" data-react-helmet="true" />
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.env.keywords %>" data-react-helmet="true" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.env.description %>" data-react-helmet="true" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="/images/og_image.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.env.title %>" data-react-helmet="true" />
  <!--<meta property="fb:app_id" content="{{ htmlWebpackPlugin.options.env.social.facebookAppId }}" />-->
  <!-- twitter  -->
  <meta name="twitter:card" content="" />
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.env.title %>" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />
  <!--/ SEO -->

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"
    crossorigin="anonymous"
  >
  <link rel="stylesheet" type="text/css" href="../../node_modules/dropzone/dist/min/dropzone.min.css" />
  <% if (htmlWebpackPlugin.options.env.social.isUseSocial) { %>
  <script>
    console.log(navigator.userAgent);var userAgent=navigator.userAgent,speed_insight=userAgent.indexOf("Speed Insights");!speed_insight>=0&&(console.log("not Speed Insights"),console.log("start load analytics script"),function(e,n,t,o,s,a,c){e.fbq||(s=e.fbq=function(){s.callMethod?s.callMethod.apply(s,arguments):s.queue.push(arguments)},e._fbq||(e._fbq=s),s.push=s,s.loaded=!0,s.version="2.0",s.queue=[],(a=n.createElement(t)).async=!0,a.src="//connect.facebook.net/en_US/fbevents.js",(c=n.getElementsByTagName(t)[0]).parentNode.insertBefore(a,c))}(window,document,"script"),console.log("end load analytics script"));
  </script>
  <script>
    fbq('init', '<%= htmlWebpackPlugin.options.env.social.facebookPixelId %>');
    fbq('track', 'PageView');
  </script>
  <% } %>
</head>
<body>
<script>
  function initSocial() {
    // Facebook sdk
    // -- setup facebook app
    window.fbAsyncInit = function () {
      FB.init({
        appId: '<%= htmlWebpackPlugin.options.env.social.facebookAppId %>',
        xfbml: true,
        version: 'v2.12'
      });
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.async = true;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // End Facebook sdk
  }

  setTimeout(function () {
    initSocial();
  }, 2000);
</script>
  <div id="root-app"></div>
</body>
</html>
