.pd-faq {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.contactWrap{
    background-color: rgb(255, 255, 255);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 29px -7px #000000;
    margin-top: 50px;
    padding: 30px;
}
