.container {
  background-color: #efefef;
  padding-top: 31px;
  .scrollbar {
    height: calc(100vh - 77px - 31px - 10px);
    overflow: scroll;
    background: #FFFFFF;
    padding: 35px 50px;
  }
}