@import 'var';

.container {
  background-color: #efefef;
  padding-top: 31px;
  .sideBar {
    display: flex;
    flex-direction: column;
    a {
      color: $black-medium;
      margin: 15px 0px;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.2s;
    }
    .active {
      color: $primary-extra-bold;
      font-weight: 600;
      &::before {
        content: '― ';
        color: $primary-medium;
      }
    }
  }
  .scrollbar {
    height: calc(100vh - 77px - 31px - 10px);
    overflow: scroll;
    background: #FFFFFF;
    padding: 35px 50px;
  }
}