.register-warper {
  margin-top: 20px;
}
.register-title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  height: 26px;
  letter-spacing: 0;
}
.register-card {
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 5px 29px -7px #000000;
}
.custom-checkbox {
  border: none;
  padding: 0;
  label {
    cursor: pointer;
  }
  .remember-me {
    padding-top: 13px !important;
  }
}

.button-register {
  background: #5522DD;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 6px 13px 0 #D7D0F5;
  height: 50px;
}

.link {
  color: white;
}
