@import 'src/assets/styles/_var.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  width: 100%;
  background: $white;
  z-index: 2;
  box-shadow: 0 -2px 13px 0 rgba(221,235,242,0.50);
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $footer-height;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    .item {
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        flex-direction: column;
        color: #ABAAAD;
        cursor: pointer;
        svg {
          font-size: 24px;
          margin: auto;
        }
      }
      a:hover {
        text-decoration: none;
      }
      span {
        margin-top: 5px;
        text-align: center;
        color: white;
      }
      &.selected {
        a {
          color: $primary-medium;
        }
      }
    }
  }
}
