@import 'var';

.container {
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 4px 4px 4px 4px;
  .input {
    border: none;
  }
  .dropdown {
    height: $input-height;
    button:global(.dropdown-toggle) {
      height: inherit;
      background-color: transparent;
      color: black;
      border: none;
      border-left: 1px solid #ced4da;
      border-radius: 0px;
    }
  }
  .icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 20px;
  }
}