.wallet-box-add-new{
  padding: 10px;
  cursor: pointer;
  .feed {
    margin-bottom: 7px;
    padding: 0.625rem 0.3125rem 0.625rem 0.9375rem;
    // min-height: 120px;
    position: relative;
    border-radius: 10px;
    background-size: cover;
  }
  .name{
    color: #fff;
  }
  .headerText{
    font-size: 14px;
    color: #090909;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #315E9E;
    margin-bottom: 10px;
    margin-left: 15px;
  } 
  .wallet-create-footer{
    padding-bottom: 30;
  }  
  
  .dropdown-wallet{
    margin: 0!important;
    margin-bottom: 25px!important;
  }  
  
  .input-phrase {
    margin-bottom: 30px;
    margin-top: -15px; 
    border-color: #d0021b;
  }
  .input-phrase-error {
    margin-bottom: 30px;
    margin-top: -15px; 
  }
  .buttonWallet{
    margin-bottom: 50px;
  }  
}

