.container {
  span {
    font-size: 16px;
    color: #0A2240;
    letter-spacing: 0;
  }
  .coin-info {
    display: flex;
    padding: 10px 0px;
    .label {
      display: flex;
      padding: 10px 0px;
      flex-direction: column;
      >img {
        width: 24px;
        height: 24px;
        margin-left: 20px;
      }
      > span {
        font-size: 16px;
        color: #0A2240;
        letter-spacing: 0;
        margin-left: 20px;
        margin-top: 10px;
      }
    }
  }
  .sell, .buy {
    display: flex;
    padding: 0px 0px;
    align-items: center;
    :nth-child(1) {
      display: block;
      width: 100px;
    }
    :nth-child(1) {
      display: block;
      padding: 10px 20px;
    }
    :nth-child(2) {
      padding: 5px 20px;
    }
  }
  .buy {
    span {
      color: #57BB24;
    }
  }

  .sell {
    span {
      color: #F4181C;
    }
  }
}
