.container {
  background: white;
  .body {
    display: flex;
    justify-content: space-between;
  }
  .left-container {
    width: 25%;
  }
  .right-container {
    width: 25%;
  }
  .main-container {
    width: 40%;
  }
}