@import 'style';
.headerWarper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  span, button, a {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .headerContainer {
    max-width: 1140px;
    padding: 0px 15px;
    width: 100%;
    max-height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @include respond(md) {
    //   padding: 15px;
    // }
      
    .logo {
      width: 65px;
    }
    .items {
      display: flex;
      .menu-item {
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0.5px;
        margin: 0px 20px;
        text-align: left;
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include respond(md) {
          margin: 0px 10px;
        }
        &.link-active {
          color: $primary-medium;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.5px;  
        }
      }
    }
  
    .buttons {
      display: flex;
      .button {
        width: 117px;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 0;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        margin-left: 15px;
        white-space: nowrap;
    
        @include respond(md) {
          width: auto;
          padding: 0px 5px;
        }
      }
      .active {
        background: $primary-medium;
        font-weight: 600;
        letter-spacing: 0.22px;
        color: white;
      }
    }
    .user-header {
      margin-left: 3px;
      position: relative;
      button {
        color: #000000;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 1px;
        height: $btn-height-small;
        background-color: #E7E6EB;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
    .language-header {
      button {
        color: #000000;
      }
    }
  }
}