.headerContainer {
  padding: 15px;
  max-height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3F2782;
  .logo {
    width: 75px;
  }

  .items {
    display: flex;
    .menu-item {
      margin: 0px 20px;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 200;
      text-align: left;
      letter-spacing: 0;
      display: flex;
      align-items: center;
    }
  }

  .button {
    width: 117px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin-left: 15px;
  }
  .active {
    background: #39DDE3;
    font-weight: 600;
    letter-spacing: 0.22px;
  }
}
