@import 'var';

.container {
  margin-bottom: 75px;
  .header {
    display: flex;
    flex-direction: row;
    background: $primary-extra-bold;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 75px;
    z-index: 997;
    justify-content: space-between;
    img {
      margin: 20px;
    }
    img:first-child {
      width: 50px;
    }
  }
  .sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 300px;
    height: 100vh;
    top: 0;
    left: -300px; // not active
    background: #FFFFFF;
    transition: all 0.5s;
    &.active {
      left: 0px;
    }
  }
  .overlay {
    top: 0px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.7);
    z-index: 998;
    display: none; // active display block opacity 1
    transition: all 0.3s ease-in-out;
    &.active {
      display: block;
      opacity: 1;
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    padding: 15px;
    .itemHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 40px;
      padding-left: 15px;
      span {
        font-weight: 600;
        color: #0D0031;
        font-size: 20px;
      }
    }
    .signout {
      margin-top: 90px;
      padding-left: 15px;
      color: #7E7D80;
    }
    a {
      padding: 5px 15px;
      color: #7E7D80;
      margin: 5px 0px;
    }
    .itemActive {
      background: $primary-extra-bold;
      color: #FFFFFF;
      border-radius: 5px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      a {
        text-align: center;
      }
      .buttonActive {
        background: $primary-medium;
        color: #FFFFFF;
        border-radius: 5px;
      }
    }
  }
  .language {
    padding: 15px;
    margin-bottom: 10px;
    .itemLang {
      // background:red;
      padding: 0px;
      form > div > div {
        padding: 0px;
        button {
          border: 1px solid #E7E6EB;
          color: $primary-extra-bold !important;
          padding: 0px 20px;
        }
      } 
    }
  }
}