@import './_mixins.scss';
@import './_common.scss';
@import './_var.scss';
@import './_animate.scss';
@import './_fonts.scss';
/* App global styles */
:global {
  html, body, div#root-app {
    margin: 0px;
    font-family: $font-family-base;
    font-style: normal;
    font-size: $font-size-base;
    font-weight: $extra-light;
    color: $black;
    background-color: $bg-gray;
    @include full-screen;
  }
  img {
    max-width: 100%;
  }
  span, p {
    font-size: $font-size-base;
    font-weight: normal;
    letter-spacing: 0;
  }
  button {
    height: 44px;
    background: $primary-medium;
    border-radius: 6px 6px 6px 6px;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0;
    border: none;
  }
  input, textarea {
    padding: 4px 15px;
    min-width: 297px;
    height: 50px;
    background: $white;
    border: 1px solid #DCDCDE;
    border-radius: 4px 4px 4px 4px;
    ::placeholder {
      color: #DCDCDE;
      font-size: 16px;
      font-weight: reg;
      text-align: left;
      letter-spacing: 0;
    }
  }
  textarea {
    height: auto;
  }
  .discover-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: rgba($color: $black, $alpha: 0.3);
    display: none;
    &.show {
      display: block;
    }
    img {
      display: block;
      position: absolute;
      width:  rem-calc(50px);
      height: rem-calc(50px);
      background: $white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

