@import './_mixins.scss';
@import './_common.scss';
@import './_var.scss';
@import './_animate.scss';
@import './_fonts.scss';
@import './lib.scss';
@import './slider.scss';
@import './tabs.scss';
/* App global styles */
:global {
  html, body, div#root-app {
    margin: 0px;
    font-family: $font-family-base;
    font-style: normal;
    font-size: $font-size-base;
    font-weight: $extra-light;
    color: $black;
    background-color: $bg-gray;
    min-width: 330px;
    // overflow: hidden;
    @include full-screen;
  }
  img {
    max-width: 100%;
  }
  span, p {
    font-size: $font-size-base;
    font-weight: normal;
    letter-spacing: 0;
  }
  button, .btn-primary {
    height: $btn-height-medium;
    background: $primary-medium;
    border-radius: 6px 6px 6px 6px;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0;
    border: none;
    cursor: pointer;
    &:disabled {
      color: $black-light;
      background-color: #F1F0F5;
      cursor: not-allowed;
    }
  }
  .btn-primary:hover{
    background-color: $primary-hover;
    border-color: $primary-hover;
  }

  input, textarea {
    padding: 4px 15px;
    height: $input-height;
    background: $white;
    border: 1px solid #DCDCDE;
    border-radius: 4px 4px 4px 4px;
    ::placeholder {
      color: #DCDCDE;
      font-size: 16px;
      font-weight: reg;
      text-align: left;
      letter-spacing: 0;
    }
  }
  .react-tel-input input[type=tel], .react-tel-input input[type=text]{
    height: 50px !important;
  }
  .dropdown-warper {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    > .dropdown-toggle {
      display: block;
      width: 100%;
      background: transparent;
      color: #495057;
      text-align: left;
      padding: 0;
      outline: none;
      box-shadow: none;
      &:after {
        border-top: .5em solid;
        border-right: .5em solid transparent;
        border-left: .5em solid transparent;
        float: right;
        margin-top: .5em;
      }
    }
  }
  //styling for custom checkbox
  .checkbox-warper {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark{
        border-color: $text-black;
        &:after {
          display: block;
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      border-radius: 3px;
      border: 2px solid $border-color;
      background-color: $white;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $text-black;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  textarea {
    height: auto;
  }
  .discover-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: rgba($color: $black, $alpha: 0.3);
    display: none;
    &.show {
      display: block;
    }
    img {
      display: block;
      position: absolute;
      width:  rem-calc(50px);
      height: rem-calc(50px);
      background: $white;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  /* Filepicker CSS */
.filepicker {
  font-family: sans-serif;
}

div.filepicker {
  text-align: center;
  padding: 5px;
  background-color: #E1E1E1;
  border-radius: 5px;
  min-height: 60px;
  border: 2px dashed #C7C7C7;
}

/* Icon */
.filepicker-file-icon
{
  position: relative;

  display: inline-block;

  margin: 1.5em 0 2.5em 0;
  padding-left: 45px;

  color: black;
}
.filepicker-file-icon::before
{
  position: absolute;
  top: -7px;
  left: 0;

  width: 29px;
  height: 34px;

  content: '';

  border: solid 2px #7F7F7F;
  border-radius: 2px;
}
.filepicker-file-icon::after
{
  font-size: 11px;
  line-height: 1.3;

  position: absolute;
  top: 9px;
  left: -4px;

  padding: 0 2px;

  content: 'file';
  content: attr(data-filetype);
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background-color: #000;
}
.filepicker-file-icon .fileCorner
{
  position: absolute;
  top: -7px;
  left: 22px;

  width: 0;
  height: 0;

  border-width: 11px 0 0 11px;
  border-style: solid;
  border-color: white transparent transparent #920035;
}

@media screen and (max-width: 768px){
  .nav-link {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    padding: .5rem 0rem;
  }
}

.nav-link.active {
  color: #FFFFFF !important;
  background-color: $primary-extra-bold !important;
}
  @import '../../../node_modules/dropzone/dist/min/dropzone.min.css';
}

