@import './mixins.scss';
@import './variables.scss';

/* Reusable class should be defined bellow 
  Read more https://github.com/css-modules/css-modules
*/
$scopeName: 'common';
:global {
  .#{$scopeName}-fluid {
    @include full-screen;
  }
  
  .#{$scopeName}-container {
    @include full-screen;
    display: flex;
    padding: 20px;
    background-color: $primary-color;
  }

  .#{$scopeName}-clickable {
    cursor: pointer;
  }
}