$background-color: white;
$secondary-color: blue;
$white: #ffffff;
$black: #2c2c2c;


// basic
$white: #ffffff;
$black: #2c2c2c;
$bg-gray: #efefef;
$text-black: #090909;
$text-gray: #989898;
$red: #f00;
$gray: #f4f5f7;
$splash-background-color: #1A1919;

/*
* Font weight
* ======================================================================== */
$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$normal: 400 !default;
// $medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$extra-bold: 800 !default;
$heavy: 900 !default;