.container {
  display: flex;
  position: relative;
  align-items: center;
  width: inherit;
  justify-content: space-between;
  .inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .arrowIcon {
    bottom: -13px;
    position: relative;
    min-width: 50px;
    max-width: 50px;
  }
}