.container {
  max-width: 1024px;
  background-color: white;
  .cod-info {
    display: flex;
    flex-direction: column;
    width: inherit;
    overflow: hidden;
    transition: 0.5s max-height;
    > div {
      .cod-item {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &.show-cod {
      max-height: 300px;
    }
    &.hide-cod {
      max-height: 0px;
    }
  }
  .row-item {
    margin: 10px 0px;
  }
  .submit-btn {
    width: 100%;
  }
}