@import 'var';
@import 'responsive';

.container {
  max-width: 1024px;
  background-color: white;
  .cod-info {
    display: flex;
    flex-direction: column;
    width: inherit;
    overflow: hidden;
    transition: 0.5s max-height;
    .cod-item {
      width: 100%;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }
    &.show-cod {
      max-height: 300px;
    }
    &.hide-cod {
      max-height: 0px;
    }
  }
  .row-item {
    margin: 10px 0px;
  }
  .submit-btn-container {
    z-index: 15;
    position: sticky;
    bottom: 0px;
    top: 0px;
    .submit-btn {
      transition: height 300ms, background-color 300ms, border-radius 300ms;
      width: 100%;
      &.float-submit-btn {
        @include respond(xs) {
          border-radius: 0px;
          height: 60px;
          position: fixed;
          bottom: 0px;
          left: 0px;
          width: 100%;
          font-weight: 500;
          font-size: 18px;
          z-index: 10;
          &:not([disabled]) {
            background-color: $ce-cyan-medium;
            color: white;
          }
        }
      }
    }
  }
}