.container {
  max-width: 1024px;
  background-color: white;
  .bank-info {
    transition: 300ms max-height, 300ms opacity;
    &.show-bank {
      max-height: 300px;
      opacity: 1;
    }
    &.hide-bank {
      max-height: 0px;
      opacity: 0;
      overflow: hidden;
    }
  }
  .row-item {
    margin: 10px 0px;
  }
  .submit-btn {
    width: 100%;
  }
  .form {}
}