.container {
  max-width: 1024px;
  background-color: white;
  .bank-info {
    display: flex;
    flex-direction: column;
    width: inherit;
    .bank-item {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
      flex-direction: column;
      > input {
        width: inherit;
      }
    }
  }
  .row-item {
    margin: 10px 0px;
  }
  .submit-btn {
    width: 100%;
  }
  .tng {
    display: flex;
    flex-direction: column;
    width: inherit;
    &.show-tng {}
    &.hide-tng {}
  }
}